#TodoList {
    padding: 0;
    width: 400px;
}

.todo {
    display: flex;
    margin: 20px 0;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    border: 2px solid black;
    border-radius: 8px;
    padding: 1rem;
}

.todo p {
    flex: 100% 1 1;
}

.btn {
    height: 2rem;
}

.btn-edit {
    margin-right: 1rem;
}
 
.todo-form-title {
    margin-bottom: 0.5em;
}

.todo-form {
    margin-top: 40px;
}